h1 {
color: green;
text-decoration: underline;
}

p {
font-size: 25px;
font-family: 'Trebuchet MS', sans-serif;
}

span, p{
text-shadow:
yellow 0 0 3px,
green 4px 4px 10px;
}

span>p{
	text-shadow: none;
	color:red;
}

span p{
	color:black;
/*	background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);*/
	background: radial-gradient(circle farthest-corner at top left, red, blue);
}
p:active{
	color:pink;

}

input{
	color:red;
}