*{
	/* box-sizing: border-box; */
	margin:0;
	padding: 0;
	/* background-color: #047aed; */
}

body{
	font-family: 'Lato', sans-serif;
	line-height:1.6;	
}

.navbar{
    display:flex;
    justify-content: space-between;
    margin:0;
    padding:3% 5% 5% 5%;
}

.navbar ul{
    display:flex;
    justify-content: space-between;
    padding-top: 5%;
    padding-left:5%;
    list-style: none;

} 

/* .nav{
    display:flex;
    justify-content: space-between;
    padding-right:9%; 
    list-style: none;
} */

/* ul{
    line-height: 10%;
    justify-content: space-between;
    list-style-type: none;
    
} */

/*
a{
   text-decoration: none;
	color: #333;
} 

h1{
	margin:10px 0;
}

.navbar{
	color:rgb(90, 81, 81);
	height: 70px;
}

.navbar ul{
	display:flex;
}

.navbar a{
	color:rgb(70, 20, 20);
	padding:10px;
	margin:0 5px;
}

.navbar a:hover{
	border-bottom: 2px solid black;
}

.navbar .flex{
   justify-content: space-between;
} 

.navbar button{
	margin: 0 5px;
   height:30px;
   width:90px;
   background-color: aqua;
   border-radius:5px;
   color:white;
}

.container{
   max-width: 900px; 
   padding:0 40px;  
}

.flex{
   display: flex;
   justify-content: center;
   align-items: center;
   height:100%;
}

@media only screen and (max-width: 2550px){
   *{
      margin:0;
      padding:0;
    }
  
    .rectified{
        margin:0 50px;
        padding-top:25px;
        background-color: yellow;
    }
   footer{
      padding-top: 8rem;
      background-color:greenyellow;
   }
} */